body{
    background-color: #EEEEEE;
}

#container{
    width: 760px;
    margin: auto;
    background-color: white;
    border-bottom: solid #555555 1px;
}

.crop2, .crop3{
    margin-left: 30px;
    margin-top: 10px;
    width: 250px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
    border: solid 1px black;
}

.crop3{
    margin-left: 14px;
}


.img1{
    margin-left: 30px;
    margin-top: 30px;
    width : 520px;
    border: solid 1px black;
}

.img2, .img3{
    min-height: 150px;
    max-width: 250px;
}

hr{
    margin-top: 30px;
}

.article{
    display: inline-block;
    width: 580px;
}

.date{
    display: inline-block;
    width: 150px;
    background-color: #E0E0E0;
    height: 140px;
    vertical-align: top;
    margin-top: 30px;
}

.date p{
    font-family:"Times New Roman", Times, serif;
    color: #3F3F3F;
    margin-top: 7px;
    margin-left: 7px;
    font-size: 1em;
}

#nav{
    width: 740px;
    margin:auto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav a{
    margin-left: 15px;
    margin-right: 15px;
    color: #555555;
    text-decoration: none;
}

#nav a:hover{
    border-top: solid 1px #555555;
    border-bottom: solid 1px #555555;
}

#nav a:visited{
    color: #555555;
}

#nbimg{
    border-top: solid #555555 1px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 2px;
}

#text{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;

	background-color: #EEEEEE; 
}

#text a{
	color: black;
	text-decoration: none;
	border-bottom: dotted black 1px;
}

#text a:hover{
	color: red;
	border-bottom: dotted red 1px;
}

