<html>
    <head>
        <meta charset="utf-8"/>
        <title>Hat.</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>
        <script src="./jquery/all.js" type="text/javascript"></script>              
        <script src="jquery.lazyload.js" type="text/javascript"></script>           
                                                                                    
        <script type="text/javascript" src="./top_up-min.js"></script>              
        <script type="text/javascript">
          TopUp.host = "http://hatrix.fr/tumblr/";
          TopUp.images_path = "./images/top_up/";
          TopUp.players_path = "./players/";
        </script>                                                                   
                                                                                    
        <script type="text/javascript">
          TopUp.addPresets({
            "#examples a": {
              title: "Gallery ({current} of {total})",
              group: "examples",
              shaded: 1,
              overlayClose: 1
            }
          });
        </script>                                                                   
                                                                                    
        <script>
        $(function() {
            $("img.img1").lazyload({ threshold : 500 });
            $("img.img2").lazyload({ threshold : 500 });
            $("img.img3").lazyload({ threshold : 500 });
        });
        </script>

        <div id="nav">
            {% for val in categories %}
                {% if val != current_cat %}
                    <a href='?cat={{val}}'>{{val|title}}</a>
                {% else %}
                <a style='border-bottom: solid 1px #555555;'href='?cat={{val}}'>{{val|title}}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div id="container">
            <div id="examples">
            {% for date, image in images %}
                {% if image in mini %}
                    {% set cur_dir = dir_mini %}
                {% else %}
                    {% set cur_dir = directory %}
                {% endif %}

                {% if (loop.index-1) % 3 == 0 %}
                    <div class='article'>
                        <a href='{{directory + image}}'>
                            <img class='img1' alt='' data-original='{{cur_dir + image}}'>
                        </a>
                    {% set f_date = date %}
                {% elif (loop.index-1) % 3 == 1 %}
                        <div class='crop2'>
                        <a href='{{directory + image}}'>
                            <img class='img2' alt='' data-original='{{cur_dir + image}}'>
                        </a>
                        </div>
                    {% set s_date = date %}
                {% else %}
                        <div class='crop3'>
                        <a href='{{directory + image}}'>
                            <img class='img3' alt='' data-original='{{cur_dir + image}}'>
                        </a>
                        </div>
                    </div>

                    <div class="date">
                        <p>Date added:<br><br>
                            {{ f_date }}<br>
                            {{ s_date}}<br>
                            {{ date }}<br>
                        </p>
                    </div>
                {% endif %}

                {% if (loop.index-1) % 3 == 2 and i != images|length-1 %}
                    <hr>
                {% endif %}
            {% endfor %}

            {% if images|length % 3 != 0 %}
                </div>
                <div class="date">
                    <p>Date added:<br><br>
                        {% for d in last_dates %}
                            {{ d }}<br>
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
            </div>

            <div id="text">
                {% for link in links %}
                    {{ link }}<br>
                {% endfor %}
            </div>

            <div id='nbimg'>
                <p>{{ images | length }} images</p>
            </div>

        </div>
    </body>
</html>




